# Tuplas 

- sequência imutavel de comprimento fixo de objetos python; A maneira mais fácil de criar um é com a sequencia de valores separados por vírgula.

- Quando definida em expressões mais complicadas, muitas vezes é necessário colocar os valores entre parênteses, como neste exemplo de criação de uma tupla de tuplas:

tupla_tupla = ((4,5,6)(7,8))
    print(tupla_tupla[0]) = (4,5,6)
    print(tupla_tupla[1]) = (7,8)
    print(tupla_tupla[0][1]) = (5)
        
## Converter Sequência em uma dupla

- Sequencia em dupla = 
        tupla([4,0,2])

In [3]:
tupla = tuple(['Foo', [1,2], True])

tupla[2] = False

# Python dizendo que não é possível mudar o valor dentro de uma tupla

TypeError: 'tuple' object does not support item assignment

In [5]:
tupla = tuple(['Foo', [1,2], True])

tupla[1].append(3)
tupla

('Foo', [1, 2, 3], True)

In [8]:
tupla = (4,8,12)
nova_tupla = []

for numero in tupla:
    novo_numero = numero*2
    nova_tupla.append(novo_numero)

nova_tupla = tuple(nova_tupla)
nova_tupla

(8, 16, 24)

# Como modificar os dados da primeira tupla?

- tupla = tuple(['foo', [1,2], True])
- lista = list(tupla) - transformar em uma lista 
- lista.insert(0, 'hoje') - Usar o comando inset e inserir a posição da tupla e o nome
- nova_tupla = tupla(lista) - Transformar em uma tupla novamente

In [9]:
tupla = (4,8,12)

for numero in tupla:
    novo_numero = numero*2
    print(novo_numero)

8
16
24

In [12]:
tupla = (4,5,6)

a, b, c = tupla

6

In [17]:
tupla = 4, 5, (6,7)

a, b, (c, d) = tupla

a, b, (c, d)

(4, 5, (6, 7))

In [18]:
a, b = 1, 2 # - > a = 1 | b = 2
b, a = a, b # - > a = 2 | b = 1

In [19]:
a = 10
b = 5

temp = a 
a = b
b = temp

print("Depois da troca: ")
print("a =", a)
print("b =", b)

Depois da troca:
a = 5
b = 10

# Exercícios

In [32]:
# 1. Crie uma tupla chamada frutas com os seguintes elementos: 'maçã', 'banana', 'laranja', 'uva'.

tupla_aula = ('maca', 'banana', 'laranja', 'uva')

# 2. Acesse o segundo elemento da tupla frutas.

tupla_aula[1]

# 3. Substitua o terceiro elemento da tupla frutas por 'manga' e armazene a tupla modificada em uma nova variável chamada frutas_modificadas.

lista = list(tupla_aula)
lista.insert(2, 'manga')
lista.remove('laranja')
frutas_modificadas = tuple(lista)

frutas_modificadas

('maca', 'banana', 'manga', 'uva')

In [33]:
# 4. Concatene a tupla frutas_modificadas com a tupla ('abacaxi', 'limão') e armazene o resultado em uma nova tupla chamada frutas_concatenadas.

tupla = ('abacaxi', 'limão')

frutas_concatenadas = frutas_modificadas + tupla

frutas_concatenadas

('maca', 'banana', 'manga', 'uva', 'abacaxi', 'limão')

In [37]:
# 5. Verifique se o elemento 'uva' está presente na tupla frutas_concatenadas.

for verificar_frutas in frutas_concatenadas:
    if 'uva' in frutas_concatenadas:
        print('Uva está dentro da tupla')
        break
    else:
        print('Não existe uva dentro da tupla')
        break

Uva está dentro da tupla

In [41]:
# 6. Descubra o índice do elemento 'banana' na tupla frutas_concatenadas.

index_banana = frutas_concatenadas.index('banana')
index_banana

1

In [42]:
# 7. Conte quantas vezes o elemento 'uva' aparece na tupla frutas_concatenadas.

quantas_vezes = frutas_concatenadas.count('uva')

quantas_vezes

1

In [46]:
# 8. Crie uma tupla chamada numeros com os números de 1 a 5.

numeros = (1, 2, 3, 4, 5)

# 9. Multiplique cada elemento da tupla numeros por 2 e armazene o resultado em uma nova tupla chamada numeros_dobrados.

numeros_dobrados = []

for y in numeros:
    numeros_dobrados = y*2
    print(numeros_dobrados)

2
4
6
8
10

# Concatenando e combinando listas

 - a. sort() aleatório
 - b = ['saw', 'small', 'he', 'fixes', 'six']
 - b.sort(key=len) // (key=len) função dentro do sort() para ordenar por número de caracteres