In [26]:
import json

data = {
    "nome": "Joao",
    "idade": 30,
    "cidade": "Sao Paulo",
}

with open('dados.json', 'w') as file:
    json.dump(data, file)

In [4]:
# Leitura do dado

with open ('dados.json', 'r') as json_file:
    dados_json = json.load(json_file)


print('Dados no formato json')
print(dados_json)

Dados no formato json
{'nome': 'Joao', 'idade': 30, 'cidade': 'Sao Paulo'}

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   --------------------------------------- 250.0/250.0 kB 15.0 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\python311\lib\site-packages (24.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import openpyxl as op

In [10]:
data = {
    "nome": "Joao",
    "idade": 30,
    "cidade": "Sao Paulo",
}

df = pd.DataFrame(data, index=[0])

df.to_excel('data_excel.xlsx', index=False)

In [12]:
df.to_csv('dados_csv.csv', index=False)

In [27]:
# Leitura dos Arquivos

df_excel = pd.read_excel('data_excel.xlsx')
df_csv = pd.read_csv('dados_csv.csv')

with open('dados.json', 'r') as json_file:
    dados_json = json.load(json_file)

In [28]:
with open('dados.json', 'r') as json_file:
    dados_json = json.load(json_file)

In [29]:
print(df_excel)
print(df_csv)
print(dados_json)

   nome  idade     cidade
0  Joao     30  Sao Paulo
   nome  idade     cidade
0  Joao     30  Sao Paulo
{'nome': 'Joao', 'idade': 30, 'cidade': 'Sao Paulo'}

# Exercício de Criação de Dados

In [32]:
dados = {
    "nome": ["Nathan", "Maria", "Pedro"],
    "idade": [23, 19, 20],
    "cidade": ["Sao Paulo", "Rio de Janeiro", "Belo Horizonte"],
    "profissao": ["Engenharia", "Medicina", "Professor"]
}

with open('exercicio.json', 'w') as file:
    json.dump(dados, file)

In [33]:
# Merge e Concat de dados


left = pd.DataFrame({
    'key':['k0', 'k1', 'k2', 'k3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

right = pd.DataFrame({
    'key':['k0', 'k1', 'k2', 'k3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})

# Merge de dados

df_merge = pd.merge(left, right, on='key')

In [34]:
left

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [35]:
right

  key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [36]:
df_merge

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [40]:
# Merge e Concat de dados


left = pd.DataFrame({
    'key':['k0', 'k1', 'k2', 'k3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

right = pd.DataFrame({
    'key':['k0', 'k1', 'k2', 'k3'],
    'A': ['C0', 'C1', 'C2', 'C3'],
    'B': ['D0', 'D1', 'D2', 'D3']
})

# Merge de dados

df_concat = pd.concat([left, right], axis=0).reset_index(drop=True)

df_concat

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3
4  k0  C0  D0
5  k1  C1  D1
6  k2  C2  D2
7  k3  C3  D3

In [42]:
dados_json = {
    "nome": ["Joao", "Maria", "Pedro"],
    "idade": [30, 25, 35],
    "cidade": ["Sao Paulo", "Rio de Janeiro", "Belo Horizonte"],
    "profissao": ["Engenheiro", "Professor", "Medico"]
}

dados_excel = {
    "nome" : ["Joao", "Maria", "Pedro"],
    "UF": ["SP", "RJ", "BH"],
}

dados_csv = {
    "nome" : ["Joao", "Maria", "Pedro"],
    "idade": [30, 25, 35],
    "Estado Civil": ["Solteiro", "Casado", "Casado"]
}

In [52]:
df_csv = pd.DataFrame(dados_csv)
df_excel = pd.DataFrame(dados_excel)
df_json = pd.DataFrame(dados_json)

print('Dados em csv: ', df_csv)
print('Dados em excel: ', df_excel)
print('Dados em json: ', df_json)

Dados em csv:      nome  idade Estado Civil
0   Joao     30     Solteiro
1  Maria     25       Casado
2  Pedro     35       Casado
Dados em excel:      nome  UF
0   Joao  SP
1  Maria  RJ
2  Pedro  BH
Dados em json:      nome  idade          cidade   profissao
0   Joao     30       Sao Paulo  Engenheiro
1  Maria     25  Rio de Janeiro   Professor
2  Pedro     35  Belo Horizonte      Medico

In [60]:
# Salvando os dados em json, excel e csv

df_csv.to_csv('dados_csv.csv', index=False)
df_excel.to_excel('dados_excel.xlsx', index=False)
df_json.to_json('dados_json.json', index=False)

with open('dados_json.json', 'r') as json_file:
    dados_json = json.load(json_file)

In [66]:
df_merge = pd.merge(df_csv, df_excel, on='nome')
df_merge_com_json = pd.merge(df_merge, df_json, on=['nome', 'idade'])

In [67]:
df_merge_com_json

    nome  idade Estado Civil  UF          cidade   profissao
0   Joao     30     Solteiro  SP       Sao Paulo  Engenheiro
1  Maria     25       Casado  RJ  Rio de Janeiro   Professor
2  Pedro     35       Casado  BH  Belo Horizonte      Medico